@charset "utf-8";
/* CSS Document */

.navegacao ul li:nth-child(5) a {
	color: #211915;
	cursor: text;
}
.menu-movel li:nth-child(6) a {
	background: #ffffff;
	color: #8c8470;
	text-decoration: line-through;
}
